# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# Database
*.db
instance/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Uploaded Media
app/static/uploads/