/* ==========================================
   BUTTON SYSTEM
========================================== */

.btn{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    padding:11px 22px;

    border-radius:12px;

    font-size:14px;

    font-weight:600;

    transition:.3s ease;

    cursor:pointer;

}

/* =============================== */

.btn-primary{

    background:#2563EB;

    color:white;

    border:none;

}

.btn-primary:hover{

    background:#1D4ED8;

    transform:translateY(-2px);

    box-shadow:0 10px 25px rgba(37,99,235,.25);

}

/* =============================== */

.btn-outline{

    border:2px solid #2563EB;

    color:#2563EB;

    background:white;

}

.btn-outline:hover{

    background:#2563EB;

    color:white;

    transform:translateY(-2px);

}