/* ===============================
   CONTAINER
================================= */

.container{

    width:min(92%,var(--container));

    margin-inline:auto;

}

/* ===============================
   SECTION
================================= */

.section{

    padding:100px 0;

}